CMakeFiles/*
logs/*
replays/*
saves/
runtime/saves/
runtime/logs/
resources/saves
CMakeCache.txt
Makefile
saved_settings.yaml
CMakeLists.txt.orig
*.gch
*.save
*.exe
runtime/settings.yaml
runtime/compiled/Resources.lua
*.zip
*.swp
*.score
stdout.txt
stderr.txt
build
build_debug/
build_debug_luajit/
build_release/
build_release_luajit/
.idea
cmake-build*
